[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4

[mysqld]
query_cache_size = 0
query_cache_type = 0
query_cache_limit = 8M
character-set-server = utf8mb4
collation-server = utf8mb4_german2_ci
max_connections = 300
